<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGS#6: Pemberian Sertifikat kepada (nama)</title>
    <style>
      body,
      div,
      h1,
      h2,
      h3,
      html {
        padding: 0;
        margin: 0;
        font-weight: 400
      }
      a{
        color:#edb944;
        font-weight: 600;
      }
      .social-container {
        margin: 10px 0
      }

      .social-container a {
        display: inline-block;
        margin: 0 5px;
        height: 35px;
        width: 35px;
        text-align: center
      }

      .social-container a img {
        display: inline-block
      }
    </style>
</head>
<body style="background: #cce6e0" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr align="center" style="font-family: Poppins, sans-serif; line-height: 1.25">
            <td width="100%">
                <div style="width: 100%; max-width: 705px; background: white; margin: 75px 0px; border-radius: 20px;">
                    <table align="center" width="100%" style="font-weight:400">
                        <tr style="color:#57585f; font-size:13px" align="center">
                            <td>
                                <img src="http://smandakebumen.sch.id/assets/img/tmp_mentoring/ganisda_logo.png" style="margin-top: 30px;" height="115px" alt="GANISDA Logo">
                                <div style="font-size:20px; margin-bottom: 20px 0px;">Hai, <span style="color:#edb944;font-weight:600">(nama)!</span></div>
                                <div style="font-size:16px; margin: 20px 60px;">
                                    Terima kasih kamu telah berkerja keras sebagai 
                                    <span style="color:#edb944;font-weight: 600;">(peran)</span> 
                                    pada pra, acara, dan pasca kegitan 
                                    <a href="http://ganisdags.000webhostapp.com" style="color:#edb944;font-weight: 600;">"Ganisda Goes to School Season 6"</a>
                                    kali ini dengan sangat baik oleh karena itu kami memberikan penghargaan kepada kamu berupa 
                                    <span style="color:#edb944;font-weight:600">E-Sertifikat Cerdas</span> 
                                    yang juga terlampir pada surat elektronik ini
                                </div>
                                <div>Kamu juga bisa melihat <span style="color:#edb944;font-weight:600">E-Sertifikat Cerdas</span>-mu pada tombol dibawah ini dengan fitur yang lebih lengkap</div>
                                <a href="(link)" style="background: #edb944;color: white;font-size:18px;padding: 6px 40px;border-radius:15px; text-decoration: none; margin: 15px 0px; display:inline-block">Yuk Lihat!</a>
                                <div>atau kamu bisa pindai kode QR pada sertifikat!</div>
                                <div>Pelajari lebih lanjut tantang E-Sertifikat Cerdas 
                                    <a href="http://ganisdags.000webhostapp.com/e-sertifikat">disini!</a>.
                                </div>
                            </td>
                        </tr>
                        <tr align="center">
                            <td >
                                <div style="width: 100%; max-width: 600px; border: 2px solid #FAAA42; border-radius: 10px; background: #FFF3CA; padding: 8px 15px; font-size: 12px; color: #78498F; margin-top: 40px;">
                                    <p>Pesan dibuat secara otomatis, mohon untuk tidak membalas pesan ini.</p>
                                    <p>Ada kedala? Hubungi Muhammad Iqbal (TEL: <a href="tel:+6285852563186"> +62 858 5256 3186</a> | E-Mail: <a href="mailto:muh.iqbalg1@gmail.com">muh.iqbalg1@gmail.com</a>)</p>
                                </div>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <div style="width: 90%; margin: 25px; color: #637582">
                                    <hr>
                                    <h3>Ikuti Kami</h3>
                                    <div class="social-container">
                                        <a href="https://ganisdags.000webhostapp.com"><img src="http://smandakebumen.sch.id/assets/img/tmp_mentoring/social_logo/sm_button_linkedin.png" alt="Linkedin Button" height="35px"></a>
                                        <a href="https://www.tiktok.com/@ganisdags"><img style="margin-right:2.5px"src="http://smandakebumen.sch.id/assets/img/tmp_mentoring/social_logo/sm_button_tiktok.png" alt="Telegram Button" height="35px"></a>
                                        <a href="https://www.instagram.com/ganisdags"><img src="http://smandakebumen.sch.id/assets/img/tmp_mentoring/social_logo/sm_button_instagram.png" alt="Instagram Button" height="35px"></a>
                                    </div>
                                    <sub style="font-weight: 600;">©2022, GGTS - Divisi Kreatif | All rights reserved</sub>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
