{
  "mail_host": "smtp.gmail.com",
  "mail_port": 587,
  "mail_username": "mailer.arfiyandesign@gmail.com",
  "mail_password": "arfiyandesign77",
  "mail_from": "rizal.arfiyan.23@gmail.com",
  "mail_from_text": "Dari Ganisda #6",
  "mail_subject": "Ini adalah subject",
  "template_location": "template",
  "template_file": "base",
  "data_location": "dist",
  "file_location": "files",
  "prefix_name": "Sertifikat GANISDA #6",
  "extension_name": "pdf",
  "list_data": "users"
}
